@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: Space Grotesk;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F5F1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
